* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-family: Urbanist, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --buttonColor: #2a2c30;
  --secondaryColor: #4b4f56;
  --borderColor: #e3eaf0;
  --backgroundColor: #f7f7f7;
  --backgroundSecondary: #fefefe;
  --textColor: #1e1f23;
  --anchorColor: #535bf2;
  --main-color: #535bf2;
  --supporting-color: #ebf3fe;
  --glow-color: hsl(186, 91%, 4%);
}
html {
  font-size: 62.5%;
  color: var(--textColor);
}
body {
  margin: 0 auto;
  padding: 0 32px;
  background-color: var(--backgroundColor);
  background-image: linear-gradient(0deg, #d9afd9 0%, #97d9e1 100%);
}

label {
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  color: var(--para-color);
  line-height: 1.5;
  font-weight: 400;
}
li {
  list-style: none;
}
a {
  color: #646cff;
  text-decoration: none;
}
a:hover {
  color: #535bf2;
}
::placeholder {
  font-family: Urbanist, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  width: 20rem;
}

/*! module / reusable  */
.btn {
  display: inline-block;
  padding: 1.2rem 3.2rem;
  background-color: #b50c12;
  color: #fff;
  text-transform: capitalize;
  border-radius: 0.6rem;
  -webkit-border-radius: 0.6rem;
  -moz-border-radius: 0.6rem;
  -ms-border-radius: 0.6rem;
  -o-border-radius: 0.6rem;
}

.btn:hover {
  background-color: var(--backgroundColor);
  box-shadow: var(--btn-box-shadow);
  cursor: pointer;
  color: var(--buttonColor);
  border: 0.1rem solid var(--buttonColor);
}
.btn:focus-visible,
input:focus-visible,
textarea:focus-visible {
  outline: 2px solid var(--para-color);
}

label {
  text-transform: capitalize;
  display: block;
}
input,
textarea {
  width: 100%;
  padding: 1.4rem 2.4rem;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
}
.btn-submit {
  font-size: 1.8rem;
  border: none;
}

form label {
  text-transform: capitalize;
  display: block;
}

input,
textarea {
  width: 100%;
  padding: 1.4rem 2.4rem;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
}
.btn-submit {
  font-size: 1.8rem;
  border: none;
}
.loader-section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  --r1: 154%;
  --r2: 68.5%;
  width: 60px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(
      var(--r1) var(--r2) at top,
      #0000 79.5%,
      #269af2 80%
    ),
    radial-gradient(var(--r1) var(--r2) at bottom, #269af2 79.5%, #0000 80%),
    radial-gradient(var(--r1) var(--r2) at top, #0000 79.5%, #269af2 80%), #ccc;
  background-size: 50.5% 220%;
  background-position: -100% 0%, 0% 0%, 100% 0%;
  background-repeat: no-repeat;
  animation: l9 2s infinite linear;
}
@keyframes l9 {
  33% {
    background-position: 0% 33%, 100% 33%, 200% 33%;
  }
  66% {
    background-position: -100% 66%, 0% 66%, 100% 66%;
  }
  100% {
    background-position: 0% 100%, 100% 100%, 200% 100%;
  }
}
